* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  text-wrap: nowrap;
}

.w-100 {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}
